//Neutral

$AlmostWhite: hsl(0, 0%, 98%);
$MediumGray: hsl(0, 0%, 41%);
$AlmostBlack: hsl(0, 0%, 8%);
$Purple: rgb(141, 0, 235);
$Yellow: rgb(255, 196, 0);
$LightPurple: rgb(182, 73, 255);
$Blue: rgb(73, 167, 255);
